{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "babel",
  "react/jsx-max-props-per-line": [2, { "when": "always" }]
}
